
<div>
  <%= "#{@user.name}'s #{@tool.name}" %>
</div>
<div>
  <%= image_tag @tool.image_url, class: "tool-image" %>
</div>
<div>
  <%= link_to "Request", new_group_user_tool_rental_path(@group, @user, @tool), class: "btn btn-default" %>
</div>
