<div class="row">
  <div class="small-3">
    <p>hello</p>
  </div>
  <div class="small-3">
    <p>world</p>
  </div>
  <div class="small-3">
    <p>Hello again</p>
  </div>
  <div class="small-3">
    <p>world again</p>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to "Create a Group!", "groups/new"%>
<% else %>
  <p>Please sign in to create a group!</p>
<% end %>


