<div class="row">


<% if user_signed_in? %>

  <%= link_to "Create a Group!", "groups/new"%>
  <%= link_to 'Logout', destroy_user_session_path, :method => :delete, class: "btn btn-success" %>
  <%= link_to('Edit registration', edit_user_registration_path) %>
<% else %>
  <p>Please sign in to create a group!</p>
<% end %>

</div>
