<ul class="nav nav-pills back-btn">

<li class="nav-li"> <%= link_to "<< Back to Group", root_path %> </li>

</ul>


<h2><%= @category.name %> for <%= @group.name %></h2>
<ul>
  <% @tools.each do |tool| %>
    <li><%= link_to tool.name, group_user_tool_path(@group, tool.user_id, tool) %></li>
  <% end %>
</ul>
