<ul class="nav nav-pills back-btn">

<li class="nav-li"> <%= link_to "<< Back to Group", root_path %> </li>

</ul>

<div class="col-xs-8 col-xs-offset-2">

<h2><%= @category.name %> for <%= @group.name %></h2>
<ul class="list-group toolsList">
  <% @tools.each do |tool| %>
    <li class="list-group-item"><%= link_to tool.name, group_user_tool_path(@group, tool.user_id, tool) %></li>
  <% end %>
</ul>

</div>